.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: medium;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  width: 100%;
}

footer {
  width: 100%;
  box-sizing: border-box;
  background-color: bisque;
  color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
}

main {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

section {
  width: 75%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  box-sizing: border-box;
  background-color: pink;
  color: #282c34;
  margin: 0;
  padding: 50px;
  border: solid;
  border-radius: 25px;
}

.data-items a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: bisque;
  color: #282c34;
  margin: 0;
  padding: 5px;
}

.data-items a:nth-child(odd) {
  background-color: darkgoldenrod;
}

.data-item-detail {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  color: #282c34;
  margin: 0;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
